<div class="container">
  <form class="form-signin mx-auto" action="/users/signup" method="POST" style="width: 100%; max-width:500px;">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">註冊會員</h1>
    </div>
    <small><span style="color: red;">*</span>必填欄位</small>

    <div class="form-label-group">
      <label for="inputName"><span style="color: red;">*</span>姓名</label>
      <input type="text" name="name" class="form-control {{#if errors.name}}is-invalid{{/if}}" placeholder="Name"
        value="{{info.name}}" autofocus required>
      {{#if errors.name}}
      <div class="invalid-feedback">
        {{errors.name}}
      </div>
      {{/if}}
    </div>

    <div class="form-label-group">
      <label for="inputEmail"><span style="color: red;">*</span>Email</label>
      <input type="text" name="email"
        class="form-control {{#if errors.email}}is-invalid{{/if}} {{#if errors.userExist}}is-invalid{{/if}}"
        placeholder="Email" value="{{info.email}}" autofocus required>
      {{#if errors.email}}
      <div class="invalid-feedback">
        {{errors.email}}
      </div>
      {{/if}}
      {{#if errors.userExist}}
      <div class="invalid-feedback">
        {{errors.userExist}}
      </div>
      {{/if}}

    </div>

    <div class="form-label-group">
      <label for="inputPassword"><span style="color: red;">*</span>密碼</label>
      <input type="password" name="password" class="form-control {{#if errors.password}}is-invalid{{/if}}"
        placeholder="Password" value="{{info.password}}" required>
      {{#if errors.password}}
      <div class="invalid-feedback">
        {{errors.password}}
      </div>
      {{/if}}
    </div>

    <div class="form-label-group">
      <label for="inputPasswordCheck"><span style="color: red;">*</span>確認密碼</label>
      <input type="password" name="passwordCheck" class="form-control {{#if errors.passwordCheck}}is-invalid{{/if}}"
        placeholder="Password Check" value="{{info.passwordCheck}}" required>
      {{#if errors.passwordCheck}}
      <div class="invalid-feedback">
        {{errors.passwordCheck}}
      </div>
      {{/if}}
    </div>

    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">註冊</button>
  </form>
</div>